:root {
	--light-blue-background: #9bc1fd75;
	--light-grey-background: #d3d4d375;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(25deg, #b12eaf38, #6767f338);
	background-attachment: fixed;
}

body {
	width: 90%;
	margin: 0 auto;
}

h1, form#entry {
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

#warning {
	color:#db2720;
	font-weight: bold;
}

.hide {
	visibility: hidden;
}

form#entry {
	width: 24em;
	margin: 1em auto;
	padding: 1em;
	background-color: var(--light-blue-background);
	border: 1em solid var(--light-grey-background);
	border-radius: 1em;
}

#entry input, #entry button {
	width: 100%;
	margin: .5em auto;
}

#entry-button {
	cursor: pointer;
	border: .2em;
	background-color: #1b64c2;
	color: #f9f8f8;
	font-size: 1em;
	font-weight: bold;
	border-radius: .2em;
	padding: .2em .8em;
}

#entry-button:hover, #entry-button:active {
    background-color: #143c88;
}

#entry-button:disabled {
	background-color: #b3b8bd;
	cursor: not-allowed;
}